.button{
    background-color: var(--primary);
    outline: none;
    border: solid 1px var(--primary);
    color: white;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    padding: 0.7em 1em;
    border-radius: 5px;
    display: flex;
    gap: 0.5em;
}
.button-small{
    padding: 0.4em 0.6em;
}
.button-uncolored{
    color:rgba(0,0,0,0.8);
    background-color: transparent;
    border: none;
}
.button-icon{
    padding:0.5em;
}


.button-uncolored:hover{
    background-color: #d4d4d4;
}

.button:not(.button-uncolored):hover{
    background-color: transparent;
    color: var(--primary);
}

.button:active{
    transform: scale(0.95);
}

.bg-whitesmoke{background-color: whitesmoke;}
