.kanban-col{
    background-color: #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    position: relative;
    transform: translateX(0); /* c'est pour que le position fixed plus bas fonctionne. Sinon le fixed est en fonction de la window. @see https://developer.mozilla.org/fr/docs/Web/CSS/position */
}

.kanban-col-title{
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 1em;
    margin-bottom: 1em;
    width: 12em;
    display: flex;
    justify-content: space-between;
}

.kanban-col-item-container{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    padding: 0.5em;
    gap:0.5em;
}

.kanban-new-item-form{
    position: fixed;
    padding: 0.5em;
    bottom:0;
}
