.kanban-col{
    padding: 0.5em;
    background-color: #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.kanban-col-title{
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0.5em;
    margin-bottom: 1em;
    width: 10em;
}

.kanban-col-item-container{
    display: flex;
    flex-direction: column;
    gap:0.5em;
}
